body {
  font-family: 'Roboto', sans-serif;
  background-color: #080808;
  color: #fff;
  min-height: 100vh;
  border-radius: 5px;
}

#container-custom {
  max-width: 800px;
  margin: auto;
}

#nav-logo {
  height: 2rem;
}

#nav-text {
  font-size: 1.5rem;
}

.nav-icon {
  margin: 0 0.2em;
  color: #fff;
  background: none;
  border: none;
  font-size: 1rem;
}

.translucent-div {
  background-color: rgba(255, 255, 255, 0.05);
}

#artist-info-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-size: cover;
  background-position: center;
}

#artist-info-div.gradient-visible #gradient-overlay {
  display: block;
}

#gradient-overlay {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-image: url('grad.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 200% 200%;
  z-index: 1;
}

#song-info {
  z-index: 2;
  transform: translateY(1.5rem);
}

#audio-player {
  width: 100%;
  display: none;
}

#media-controls {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 2;
  transform: translateY(0.8rem);
}

#play-pause-btn {
  font-size: 4rem;
  color: #fff;
  border: none;
  align-self: center;
}

#progress-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translateY(1.5rem);
}

#progress-container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

#seek-bar {
  appearance: none;
  -webkit-appearance: none;
  height: 8px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  width: 0%;
  background-color: #fff;
}

#time-controls {
  width: 99%;
  margin: 5px auto 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  #nav-logo {
    height: 3rem;
  }

  #nav-text {
    font-size: 2.5rem;
  }

  .nav-icon {
    font-size: 1.5rem;
  }

  #song-info {
    margin-left: 0.8rem;
    transform: translateY(0rem);
  }

  h4 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  #media-controls {
    flex-direction: row;
    justify-content: flex-start;
    transform: translateY(0rem);
  }

  #progress-time-container {
    flex-direction: column;
    flex-grow: 1;
    padding-right: 1rem;
    transform: translateY(0rem);
  }

  #play-pause-btn i {
    font-size: 5rem;
  }
}